body {
     background: #526d82;
     box-sizing: border-box;
}

div{
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1vh;
}

@keyframes movement {
    0% {
         bottom: -100px;
         left: -60px;
         opacity: 0;
    }
    25% {
        bottom: -75px;
        left: -45px;
        opacity: 0.15;
    }
    50% {
        bottom: -50px;
        left: -30px;
        opacity: 0.30;
    }
    75% {
          bottom:-25px;
          left: -15px;
          opacity: 0.5;
    }
    100% {
          bottom: 0;
          left: 0;
          opacity: 1;
    }
}

div > a {
      color: #dde6ed;
      position: relative;
      padding: 0.5em 0.7em ;
      font-size: 1.7em;
      text-decoration: none;
      visibility: hidden;
      background-color: #27374d;
      margin-bottom: 1em;
      border:dotted 0.17em pink ;
      border-radius: 5%;
     box-shadow: 2px 3px 6px 0.8px rgb(38, 37, 37);
}

.animation {
    animation: movement 1s linear;
    visibility: visible;
}

@media (min-width: 640px) {
    div > a {
        /* font-size: 2em; */
        color: black;
  }
}