* {
    box-sizing: border-box;
}
html, body {
     background: #9db2bf;
     height: 95%;
}

.main {
    background-color: #27374d;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.2rem auto 0 ;
    padding: 3% 2% 0;
     box-shadow: 4px 6px 25px 5px rgb(38, 37, 37);
}

.inpt {
     display: flex;
     flex-direction: column;
     justify-content: end;
     width: 90%;
     height: 35%;
     border: 2px solid rgb(244, 243, 243);
     box-shadow: 2px 3px 30px 5px rgb(141, 95, 95);
}
input {
    height: 35%;
    border: none;
    background-color: transparent;
}
.firstInput {
    font-size: 1.2rem;
    color: #dde6ed;
}
.secondInput {
    font-size: 0.8rem;
    color: #9db2bf;
}

button {
    border: none;
    background-color: #27374d;
    color: #dde6ed;
    font-size: 2rem;
     box-shadow: 0px 0px 15px 0px #526d82 ;
}

.btn {
    width: 90%;
    display: grid;
    grid: auto  / auto auto auto auto;
    grid-auto-flow: row;
    height: 53%;
    position: relative;
    margin-top: 2rem;
    border:1px solid #9db2bf;
     box-shadow: 0px 0px 15px 0px #526d82 ;
}

.equal {
    grid-row: 4 / 6;
    grid-column:4 /5 ;
    background-color: #526d82;
     box-shadow: 0px 0px 15px 0px #526d82;
     border: 1px solid #9db2bf;
}