* {
    box-sizing: border-box;
}
html, body {
     background: #9db2bf;
     height: 95%;
}

.main {
    background-color: #27374d;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1.3rem auto 0 ;
    padding: 2rem 2rem 2rem;
    box-shadow: 4px 6px 25px 5px rgb(38, 37, 37);
    font-size: 1vh;
}

.inpt {
     display: flex;
     flex-direction: column;
     justify-content: end;
     width: 98%;
     height: 35%;
     border: 2px solid rgb(244, 243, 243);
     box-shadow: 0px 1px 30px 2px rgb(141, 95, 95);
}
input {
    height: 35%;
    border: none;
    background-color: transparent;
}
.firstInput {
    font-size: 3.5em;
    color: #dde6ed;
}
.secondInput {
    font-size: 2.8em;
    color: #9db2bf;
}

button {
    border: none;
    background-color: #27374d;
    color: #dde6ed;
    font-size: 5em;
     box-shadow: 0px 0px 15px 0px #526d82 ;
}

.btn {
    width: 98%;
    display: grid;
    grid: auto  / auto auto auto auto;
    grid-auto-flow: row;
    height: 53%;
    position: relative;
    border:1px solid #9db2bf;
    box-shadow: 0px 0px 15px 0px #526d82 ;
}

.equal {
    grid-row: 4 / 6;
    grid-column:4 /5 ;
    background-color: #526d82;
     box-shadow: 0px 0px 15px 0px #526d82;
     border: 1px solid #9db2bf;
}